body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  background-image: url('rc.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chatbox {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.chat-header {
  background-color: #ADD8E6;
  color: black;
  padding: 10px;
  text-align: center;
}

.chat-messages {
  padding: 10px;
  overflow-y: auto;
  max-height: 300px;
}

.message {
  margin-bottom: 10px;
}

.user-message {
  background-color: #ADD8E6;
  color: black;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
}

.bot-message {
  background-color: #eaeaea;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input-field {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.submit-btn {
  background-color: #ADD8E6;
  color: black;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
